@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: #ff00a1;
    padding: 1%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menudireito{
    text-align: end;
}

.menudireito a{
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.menudireito #editar:hover, .menudireito #explorar:hover{
    background-color: lightpink;
    border-radius: 50%;
}

header .logo {
    width: 120px;
    height: 60px;
}