*{
    margin: 0%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #ff00a1;
    padding: 1%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menudireito{
    text-align: end;
}

.menudireito a{
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    color: white;
}

header .logo {
    width: 120px;
    height: 60px;
}

.menudireito #iconeperfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

