body{
    padding: 2%; 
    /* background-color: rgb(241, 255, 116); */
}
.box{
    margin: 3%;
    background-color: rgb(48, 175, 91);
    width: 500px;
    font-size: 1.3em;
}
.box-1{
    position: relative;
    z-index: -1;
    /* opacity: 50%; */
}
.box-2{
    margin-left: 4%;
    margin-right: 0%;
}
.box-2 h1{
    color:#7991bd;
}
.box-3 {
  background-color: #7991bd;
  border-radius: 5%;
}

#capa_cd {
    width: 450px;
}

#cd {
    width: 380px;
    margin-right: 10%;
    position: absolute;
    left: 48%;
    top: 1%;
    z-index: -1;
    border-radius: 80%;
    border-color: rgb(0, 0, 0);
    background-color: #fff;
    animation: cd 4s linear infinite;
}
@keyframes cd {
    to {
        transform: rotate(360deg);
    }  
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap: 3%;
}

.musicas ol{
    column-count: 2;
    column-gap: 0.1em;
    /* background-color: blueviolet; */
}

.musicas li:hover{
    color: #7991bd
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical; /* permite redimensionar apenas na vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* garante que padding não ultrapasse a box */
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #4a90e2;
  outline: none;
}

.comentario h2{
    margin: 10%;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 5px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating input:checked ~ label {
  color: rgb(255, 217, 0);
}

.rating label:hover,
.rating label:hover ~ label {
  color: rgb(255, 217, 0);
}

.rating input#favorito:checked{
  color: rgba(224, 0, 0, 0.774);
}

.rating label.favorito:hover {
  color: rgba(216, 6, 6, 0.76);
}

#imagem_bio {
  width: 200px;
}

.biografia {
  display:flex;
  justify-content: space-around;
  align-items: center;
}