<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}base{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

<!--------Menu-------->
    <header>
        <nav class="menu">
            <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="logo da musicoteca">
            <div class="navegacao">
                <a href="">Explorar</a>
                <a href="">Minha Biblioteca</a>
                <a><img src="{{ url_for('static', filename='perfil-icon.png') }}" class="perfil-botão" alt="botão de perfil"></a>
            </div>
        </nav>

{% block content %}{% endblock %}
