<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
{% extends "base.html"%}
    {% block content %}

<!--------Capa------->
        <section class="capa">
            <img src="{{ url_for('static', filename='perfil.png') }}" alt="foto de perfil">
            <div class="info-usuario">
                <h1>Miguelito</h1>
                <div>
                    <p class="seguidores">365 seguidores</p>
                    <p class="seguindo">126 seguindo</p>
                </div>
            </div>
        </section>

<!-------Mini Menu------->
        <nav class="mini-menu">
            <a href="">Atividade</a>
            <a href="">Biblioteca</a>
            <a href="">Favoritos</a>
            <a href="">Reports</a>
            <a href="">Retrospectiva</a>
        </nav>
    </header>

<!--------Favoritos------->
    <section class="favoritos">
        <h2>Albúns favoritos</h2>
        <div class="albuns-fav">
            <figure>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>

                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png') }}" alt=""></a>
            </figure>
        </div>
    </section>

<!--------Albúns--------->
    <section class="albuns">
        <h2> Albúns comentados </h2>
        <div class="grupos">
            <figure class="albuns-agrupados" id="grupo1">
                <a href=""><img src="{{ url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
            </figure>
            <img src="{{url_for('static', filename='cd-aberto.png')}}" class="cd-aberto">
        </div>

        <div class="grupos">
            <figure class="albuns-agrupados" id="grupo2">
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
            </figure>
            <img src="{{url_for('static', filename='cd-aberto.png')}}" class="cd-aberto">
        </div>
        <div class="grupos">
            <figure class="albuns-agrupados" id="grupo3">
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
                <a href=""><img src="{{url_for('static', filename='perfil.png')}}" alt=""></a>
            </figure>
            <img src="{{url_for('static', filename='cd-aberto.png')}}" class="cd-aberto">
        </div>
    </section>
{% endblock %}
</body>
</html>