{% extends "profile.html" %}

{% block profile %}
     <section class="albuns">
        {% if biblioteca %}
            <h2> Albúns comentados </h2>
            {% for a in biblioteca %}
            <div class="grupos">
    
                <figure class="albuns-agrupados" id="grupo1">
                    <a href="{ url_for('app.album', album_id=fav.album_id) }}"><img src="{{a.capa}}" alt=""></a>
                </figure>
                <a href="{{ url_for('app.add_biblioteca', album_id=a.album_id)}}"><button>Remover da biblioteca</button></a>

                <img src="{{url_for('static', filename='cd-aberto.png')}}" class="cd-aberto">
            </div>
            {% endfor %}
        {% else %}
            <p style="font-size: 30px; margin: 4rem 2rem 4rem 2rem;">Você ainda não tem albúns salvos na biblioteca!</p>
        {% endif %}

{% endblock %}