{% extends "base.html" %}
{% block title %}Album{% endblock %}
{% block style %} {{ url_for('static', filename='styles/descricao_album.css') }} {% endblock %}

{% block content %}
    <section>
        {% for a in info_album %}
        <div class="container">
            <div class='box box-1'>
                <img id="capa_cd" src="{{ a.capa }}">
                <img id="cd" src="{{ url_for('static', filename='imgs/Lana Del Rey -Born to Die CD.jpg') }}">
            </div>

            <div class='box box-2'>
                <h1>{{ a.nome }}</h1>
                <h3>{{ a.artista }}</h3>
                <p>{{ a.genero }}, {{ a.lancamento }}</p>
                <div class="rating">
                    <label class="heart-wrapper">
                    <input type="checkbox" class="heart-checkbox" name="favoritar" />
                    <span class="heart"><a href="{{ url_for('app.favoritar', album_id=1) }}">❤</a></span>
                    </label>
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="5 estrelas">★</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="4 estrelas">★</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="3 estrelas">★</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="2 estrelas">★</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="1 estrela">★</label>
                </div>

                 <div class="musicas">
                    <ol>
                        {% for m in musicas%}
                        <li>{{ m.musicas }}</li>
                        {% endfor %}

                    </ol>
                 </div>
            </div>

            <div class='box box-3'>
                <div class="biografia">
                    <img id="imagem_bio" src="{{ info_album['foto_bio'] }}">
                    <p id="texto_bio">{{ a.biografia }}</p>
                </div>
            </div>

            <div class='box box-4'>
                {{ a.spotify.replace(''', '') }}
            </div>
        </div>
        {% endfor %}

            <!-- <h1 class="comentario">Comentários</h1>

        {% for c in comentarios %}
        <div class="container-2">
            <div class='box box-5'>
                <img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
        {% endfor %}



            <div class='box box-6'><img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
            <div class='box box-7'><img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
            <div class='box box-8'><img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
            <div class='box box-9'><img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
            <div class='box box-10'><img class="foto_perfil" src="{{ url_for('static', filename='imgs/ft de perfil teste.jpg')}}">
                <form class="comentario" action="/destino" method="post">
                    <label for="comentario"></label>
                    <textarea id="comentario" name="comentario" rows="5" cols="33" placeholder="Eai, o que você achou dessa discografia?"></textarea>
                </form>
            </div>
        </div> -->
    </section>
{% endblock %}