{% extends "profile.html" %}

{% block profile %}
<!--------Favoritos------->
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}  
        <div class="flash">
            {{ msg }}
        </div>
         {% endfor %}
    {% endif %}
    <section class="favoritos">
        {% if favoritos %}
        <h2 style="font-size: 30px;">Albúns favoritos</h2>
        <div class="albuns-fav">
            <figure>
                {% for fav in favoritos %}
                <a href="{{ url_for('app.album', album_id=fav.album_id) }}"><img src="{{ fav.capa }}" alt="{{ fav.album_id }}"></a>
                {% endfor %}
            </figure>
        </div>
        {% else %}
        <p style="font-size: 30px;">Comece a favoritar álbuns para que seu perfil fique cada vez mais bonito!</p>
        {% endif %}
    </section>
{% endblock %}