{% extends 'base.html' %}
{% block title %}Musicoteca{% endblock %}
{% block style %}{{ url_for('static', filename='styles/musicotecahome.css') }}{% endblock %}

{% block content %}
    <div class="container">

    <nav>
        <form class="pesquisar" action="/search" method="GET">
            <input class="pesquisar" type="search" name="q" placeholder="🔍︎">
        </form>
        <div class="selecionar">
        <p class="subtitulo">Gêneros</p>
        <label><input type="checkbox" name="generos" value="pop" class="custom-checkbox">Pop</label>
        <label><input type="checkbox" name="generos" value="rock" class="custom-checkbox">Rock</label>
        <label><input type="checkbox" name="generos" value="rap" class="custom-checkbox">Rap</label>
        <label><input type="checkbox" name="generos" value="R&B" class="custom-checkbox">R&B</label>
        <label><input type="checkbox" name="generos" value="folk" class="custom-checkbox">Folk</label>
        <label><input type="checkbox" name="generos" value="mpb" class="custom-checkbox">MPB</label>
        <p class="subtitulo">Lançamentos</p>
        <label><input type="checkbox" name="generos" value="20s" class="custom-checkbox">2020 - 2025</label>
        <label><input type="checkbox" name="generos" value="10s" class="custom-checkbox">2010 - 2019</label>
        <label><input type="checkbox" name="generos" value="00s" class="custom-checkbox">2000 - 2009</label>
        <label><input type="checkbox" name="generos" value="90s" class="custom-checkbox">1990 - 1999</label>
        <label><input type="checkbox" name="generos" value="80s" class="custom-checkbox">1980 - 1989</label>
        <label><input type="checkbox" name="generos" value="70s" class="custom-checkbox">1970 - 1979</label>
        <img class="fones" src="{{ url_for('static', filename='imgs/fones.png') }}" alt="fones de ouvido"/>
    </nav>
    <aside class="sidebar"></aside>

    <main></main>

    </div>
{% endblock %}
