{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block style %}{{ url_for('static', filename='styles/profile.css') }}{% endblock %}

    {% block content %}
<!--------Capa------->
        <section class="capa">
            {% if foto.startswith('https') %}
                <img src="{{ foto }}" alt="foto de perfil">
            {% else %}
                <img src="{{ url_for('static', filename=foto.replace('static/', '')) }}" alt="foto de perfil">
            {% endif %}
                <div class="info-usuario">
                <h1> {{usuario}} </h1>
                <div>
                    <p class="seguidores">0 seguidores</p>
                    <p class="seguindo">0 seguindo</p>
                </div>
            </div>
        </section>

<!-------Mini Menu------->
        <nav class="mini-menu">
            <a href="">Atividade</a>
            <a href="/profile/biblioteca">Biblioteca</a>
            <a href="/profile/favoritos">Favoritos</a>
            <a href="">Retrospectiva</a>
            <a href="{{ url_for('app.logout') }}" class="deslogar">Deslogar</a>
        </nav>

    {% block profile %} 
        <section class="boas-vindas">
            <p>Olá, {{usuario}}! Boas vindas ao seu perfil!</p>
        </section>
    {% endblock %}

{% endblock %}